@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

#app {
  margin-bottom: 16px;
  margin-top: 8px;
  padding: 12px 0 24px;
  min-height: calc(100vh - 324px);
}

body {
  margin: 0;
  font-family: "Figtree", sans-serif;
  background-color: #06171e;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 32px;
  background-color: #09212A;
  height: 100px;
  filter: drop-shadow(2px 2px 6px rgba(10, 10, 10, 0.2));
}

header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

#logo {
  position: absolute;
  left: 0;
}

#heart-counter {
  position: absolute;
  right: 0;
  display: flex;
  color: white;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: bold;
}
#heart-counter img {
  height: 32px;
}

header > div > h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
}

header > div > h1 > span {
  color: #FD5B4F;
  font-size: 48px;
}

nav {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 16px;
}

#generated-dialog {
  height: -moz-fit-content;
  height: fit-content;
}

#generated-view {
  padding: 16px;
  background-color: #0d2f3e;
  min-height: 90vh;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style: none;
  color: white;
  display: flex;
  gap: 16px;
}
ul li {
  text-decoration: underline;
}
ul li:hover {
  color: #FD5B4F;
  cursor: pointer;
}

.active {
  color: #FD5B4F;
}

footer {
  position: relative;
  height: 128px;
  width: 100%;
  background-color: #06171E;
}
footer > svg {
  height: 128px;
  width: 100%;
}
footer > div {
  position: absolute;
  flex-direction: column;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}
footer > div > p {
  color: #627B84;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.dialog-container {
  position: absolute;
}

#templateSelect {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 24px;
  gap: 8px;
}

.create-meme-btn {
  width: 200px;
  height: 200px;
  border-radius: 16px;
  border: 4px solid black;
  transition: 0.125s ease-in-out;
}
.create-meme-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.template-meme {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#dialog-container {
  position: fixed;
  justify-content: center;
  height: 100%;
  width: 100%;
  inset: 0;
  margin: auto;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.dialog-container {
  display: flex;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.cursor-forbidden :hover {
  cursor: not-allowed;
}

.generated-dialog {
  padding: 1rem;
  background-color: #0d2f3e;
}
.generated-dialog__navigation {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.generated-dialog__nav-btn div {
  height: 60%;
  width: 60%;
  background-image: url("assets/img/Arrow-Right-gray.svg");
  background-size: cover;
  background-position: center;
}
.generated-dialog__nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #1f1e23;
  border: none;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.2s ease, transform 0.2s ease;
}
.generated-dialog__nav-btn:hover {
  background-color: #09232d;
}
.generated-dialog__nav-btn:hover div {
  background-image: url("assets/img/Arrow-Right.svg");
}
.generated-dialog__nav-btn--prev {
  transform: rotate(-90deg);
}
.generated-dialog__nav-btn--next {
  transform: rotate(90deg);
}
.generated-dialog__nav-btn.hidden {
  display: none;
}

.like-btn {
  position: absolute;
  height: 60px;
  width: 60px;
  inset: 0;
  margin: auto;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.like-btn:hover {
  cursor: pointer;
}
.like-btn img {
  height: 100%;
}

#upload-container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

#upload-btn {
  background-color: transparent;
  border: 12px solid transparent;
  color: white;
  font-size: 24px;
  padding: 32px;
  border-radius: 50%;
  height: 240px;
  width: 240px;
}
#upload-btn:hover {
  border: 12px solid #FD5B4F;
  text-decoration: underline;
  cursor: pointer;
}

.team-name {
  font-size: 40px;
  color: white;
  text-decoration: underline;
  text-align: center;
  padding: 16px;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .create-meme-btn {
    width: 150px;
    height: 150px;
  }
  #meme-edit-dialog,
  #generated-dialog {
    transform: scale(0.7);
  }
  #generated-view {
    height: -moz-fit-content;
    height: fit-content;
    min-height: 100vh;
  }
}
@media screen and (max-width: 820px) {
  header > div > h1,
  header > div > h1 > span {
    font-size: 36px;
    text-align: center;
  }
  #logo {
    display: none;
  }
}
.d-none {
  display: none;
}/*# sourceMappingURL=style.css.map */