@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("/src/assets/fonts/static/Figtree-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

#app {
  margin-bottom: 16px;
  background-color: #09212a;
  margin-top: 8px;
  padding: 12px 0 24px;
}

body {
  margin: 0;
  font-family: "Figtree", sans-serif;
  background-color: #06171e;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px;
  background-color: #09212A;
  height: 100px;
  filter: drop-shadow(2px 2px 6px rgba(10, 10, 10, 0.2));
}

header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

header > div img {
  position: absolute;
  left: 0;
}

header > div > h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
}

header > div > h1 > span {
  color: #FD5B4F;
  font-size: 48px;
}

footer {
  position: relative;
  height: 128px;
  width: 100%;
  background-color: #06171E;
}
footer > svg {
  height: 128px;
  width: 100%;
}
footer > div {
  position: absolute;
  flex-direction: column;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}
footer > div > p {
  color: #627B84;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.dialog-container {
  position: absolute;
}

#templateSelect {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 24px;
  gap: 8px;
}

.create-meme-btn {
  width: 200px;
  height: 200px;
  border-radius: 16px;
  border: 4px solid black;
  transition: 0.125s ease-in-out;
}
.create-meme-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.template-meme {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#dialog-container {
  position: fixed;
  justify-content: center;
  height: 100%;
  width: 100%;
  inset: 0;
  margin: auto;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.dialog-container {
  display: flex;
}

.d-none {
  display: none;
}

@media screen and (max-width: 1200px) {
  .create-meme-btn {
    width: 150px;
    height: 150px;
  }
}/*# sourceMappingURL=style.css.map */